@import "var.scss";
@import "fonts.scss";
html * {
	margin: 0;
	padding: 0;
}
:root {
	font-size: $base;
}
body {
	position: relative;
	min-height: 100vh;
	font-family: $OverpassRegular;
	font-weight: 400;
	color: $white;
	background-color: $veryDarkBlue;
	line-height: 1.5;
}
h1 {
	font-family: $OverpassBold;
	font-weight: 700;
	font-size: 2.6rem;
}
p {
	font-size: 1.5rem;
}
ul {
	display: flex;
	justify-content: space-between;
	li {
		list-style-type: none;
		width: 5rem;
		height: 4.7rem;
		line-height: 4.7rem;
		text-align: center;
		background-color: $darkBlue;
		border-radius: 50%;
		font-size: 1.8rem;
	}
}
.btn {
	background-color: $orange;
	color: $white;
	margin-top: 3.4rem;
	line-height: 4.6rem;
	border-radius: 2em;
	font-size: 1.7rem;
	text-transform: uppercase;
	border: none;
    box-shadow: none;
}
.container {
	max-width: 144rem;
	min-height: 96vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.card {
	position: relative;
	height: 41.3rem;
	width: 41rem;
	border-radius: 1.9em;
	background: $darkBlue;
	background: radial-gradient(
		ellipse at 50% 0%,
		rgba(35, 42, 50, 1) 0%,
		rgba(32, 39, 50, 1) 5%,
		rgba(23, 30, 40, 1) 100%
	);
	&-put {
		opacity: 1;
		z-index: 10;
		padding: 0 4rem 0 3rem;
		display: flex;
		flex-direction: column;
		height: 100%;
		.icon {
			width: 4.7rem;
			height: 4.7rem;
			background-color: $darkBlue;
			text-align: center;
			font-size: 3rem;
			color: $orange;
			margin-top: 3rem;
			border-radius: 50%;
		}
		h1 {
			margin-top: 3rem;
		}
		p {
			margin-top: 1rem;
		}
		.row-banch {
			margin-top: 3rem;
		}
	}
	&-push {
		opacity: 0;
		z-index: 9;
	}
}

.attribution {
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 11px;
	text-align: center;
	color: $orange;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
